* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: sans-serif;
    color: #291f1a;
    font-weight: 300;
    
}

nav li {
    background-color: white;
    display: inline-block;
    list-style: none;
    background-color: #fff;
    top: 0px;
}

nav ul {
    position: fixed;
    text-align: right;
    width: 100%;
}

nav li a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
}

#main-header {
    background-image: url('../img/header-background.jpg'); 
    background-size: cover;
    background-position: center;
    height: 1000px; 
}

div h1 {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 200px;
    height: auto;

}

#about>div{
    font-size:0;
}

section h2 {
    text-align: center;
    padding: 0 80px 100px;
    width: 100%;

}

.container {
    margin: auto; 
    display: inline-block;
    width: 50%;
    text-align:center;
    
}

.content { 
    display: inline-block;
    width: 50%;
    font-size:16px;

}


form {
    background-color: #213b50;
    color: white;
    width: 100%;
}

.main-headrer-content {
    padding: 30vh%;
}

textarea {
    width: 400px;
    height: 200px;
    background-color: #2b4a64;
    padding: inherit;
    border: 0;
    
}

input, select {
    background-color: #2b4a64; 
    color: #fff;
    border: 0;
}
    
input:focus {
    background-color: #4e708c;
    
}

button {
    background: green;
    color: white;
    height: 30px;
    width: 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    
}

